@model AppUserVM
<form asp-action="ResetPassword" asp-controller="SignIn" method="post" class="form-control">
    <input type="hidden" asp-for="ID"/>
    <div> <input asp-for="Password" class="form-control" /> </div>
    <div><button class="btn btn-primary"></button></div>
</form>