@model AppUserVM

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#registerForm").submit(function (event) {

            });
        });
    </script>
    </head>
    <body>
    <form asp-action="Register" asp-controller="Register" method="post" class="form-control" itemid="registerForm">
        <div>
            <label> Email </label>
            <input asp-for="Email" class="form-control" id="Email"/>
            <span id="emailError" style="color: red; display: none;"></span>
        </div>
        <br />
        <div>
            <label> UserName </label>
            <input asp-for="UserName" class="form-control" itemid="UserName"/>
            <span id="userNameError" style="color: red; display: none;"></span>

        </div>
        <br />
        <div>
            <label> Password</label>
            <input type="password" asp-for="PasswordHash" class="form-control" itemid="PasswordHash" />
            <span id="passwordError" style="color: red; display: none;"></span>
        </div>

        <div><a asp-action="Deal" class="">Anlaşma Kuralları</a></div>
        <div>
            <input type="checkbox" asp-for="Agree" itemid="check1" /> Anlaşmayı Kabul et
            <span id="checkboxError" style="color: red; display: none;"></span>

        </div>

        <br />
        <div>
            <button class="btn btn-primary">Uye ol</button>
        </div>
    </form>
    </body>
</html>

